<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitHost" value="rabbitmq://localhost" />
    <add key="rabbitUser" value="guest" />
    <add key="rabbitPassword" value="guest" />
    <add key="rabbitInputQueue" value="sagas-demo-dispatcher" />
  </appSettings>
</configuration>