<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitHost" value="rabbitmq://localhost" />
    <add key="rabbitUser" value="guest" />
    <add key="rabbitPassword" value="guest" />
    <add key="rabbitInputQueue" value="sagas-demo-order-processor" />
    <add key="rabbitWarehouseQueue" value="rabbitmq://localhost/sagas-demo-warehouse" />
    <add key="rabbitCashierQueue" value="rabbitmq://localhost/sagas-demo-cashier" />
    <add key="rabbitDispatcherQueue" value="rabbitmq://localhost/sagas-demo-dispatcher" />
    <add key="mongoHost" value="mongodb://localhost" />
    <add key="mongoDatabase" value="sagas" />
  </appSettings>
</configuration>